<body>
  <h1 class="header-w3ls">
    Image Upload App</h1>
  <div class="appointment-w3">

    <form [formGroup]="uploadForm" enctype="multipart/form-data">
      <h2 class="sub-heading-wthree"> Login Here </h2>

      <div class="form-group" class="header-social wthree">
        <ul>
          <li><a (click)="loginWithOptions()" class="f"><span class="fa fa-facebook" aria-hidden="true"></span>Login with Facebook</a></li>
        </ul>
        <br>

        <ul *ngIf="this.loginStatus">
          <form ngNoForm action="https://graph.facebook.com/543337362691526/photos" target="result" method="POST" enctype="multipart/form-data">
            <input name="source" type="file">
            <input type="hidden" name="access_token" value={{accessToken}}>
            <input type="submit" class="btn btn-default" value="Upload">
          </form>
          <iframe id="result" hidden></iframe>
        </ul>


        <ul *ngIf="this.loginStatus">
          <li><a (click)="logout()" class="f"><span class="fa fa-facebook" aria-hidden="true"></span>Logout with Facebook</a></li>
        </ul>

      </div>
    </form>
  </div>

</body>